<div>
    <v-layout row wrap>
        <v-flex xs12>
            <v-card class="main-item">
                <v-expansion-panel>
                    <v-expansion-panel-content
                            v-for="(item,i) in 5"
                            :key="i">
                        <template v-slot:actions>
                            <span color="error">1000,00 €</span>
                            <v-icon>$vuetify.icons.expand</v-icon>
                        </template>
                        <template v-slot:header>
                            <div class="pa-2">
                                <v-flex xs12>
                                    <div xs12 text-sm-left><span class="text-information">Lohnkosten</span></div>
                                </v-flex>
                            </div>
                        </template>
                        <v-layout row wrap class="pa-4">
                            <v-flex xs8>
                                Kosten
                            </v-flex>
                            <v-flex xs4>
                                100
                            </v-flex>
                            <v-flex xs8>
                                Kosten
                            </v-flex>
                            <v-flex xs4>
                                100
                            </v-flex>
                        </v-layout>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-card>
        </v-flex>
    </v-layout>
</div>
