<v-app>
    <v-toolbar flat
               height="70"
               light
               scroll-off-screen
               scroll-target="#scrolling-techniques">
        <v-icon class="nav-back-icon">arrow_back</v-icon>
        <v-toolbar-title class="nav-title-text">Rechnung Scannen</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
            <v-btn flat>Link One</v-btn>
            <v-btn flat>Link Two</v-btn>
            <v-btn flat>Link Three</v-btn>
        </v-toolbar-items>
    </v-toolbar>
    <div id="scrolling-techniques"
         class="scroll-y"
         style="max-height: 600px;">
        <v-container style="height: 1000px;">
            <router-view></router-view>
        </v-container>
    </div>
</v-app>
