<v-app>
    <template>
        <div class="text-xs-center progress-animation" v-show="showProgress">
            <v-progress-circular
                    :size="150"
                    color="primary"
                    indeterminate
            ></v-progress-circular>
        </div>
    </template>
    <div class="v-overlay v-overlay--active" style="z-index: 201;" v-show="showProgress"></div>
    <v-toolbar flat
               height="70"
               light
               scroll-off-screen
               scroll-target="#scrolling-techniques">
        <v-icon v-if="isIndexPage()" @click="showMenu()" class="nav-back-icon">menu</v-icon>
        <v-icon v-if="!isIndexPage()" @click="goBackToIndex()" class="nav-back-icon">arrow_back</v-icon>
        <v-toolbar-title class="nav-title-text">{{getCurrentPageTitel()}}</v-toolbar-title>
        <v-spacer></v-spacer>
    </v-toolbar>
    <div id="scrolling-techniques"
         class="scroll-y"
         style="">
        <v-container style="height: 1000px;">
            <router-view></router-view>
        </v-container>
    </div>

</v-app>
