@import '../global.scss';

body {
  background-color: white;
}

.app-header {
  height: 15%;
}

.v-btn--round, .v-btn--round:after {
  border-radius: 10px !important;
}

main, #scrolling-techniques {
  background-color: white;
}

.v-toolbar {
  background-color: white !important;
}

.v-toolbar .nav-back-icon {
  height: 70px;
  width: 50px;
  cursor: pointer;
  color: $gray-color;
}

.v-toolbar .nav-title-text {
  color: $primary-color;
}
