<div>
    <v-form ref="form">
        <v-flex xs12 class="pa-2">
            <v-layout row wrap>
                <v-text-field clearable v-model="invoice.from"
                              name="from" label="Von"></v-text-field>
            </v-layout>
            <v-layout row wrap>
                <v-text-field clearable v-model="invoice.to"
                              name="to" label="Zu"></v-text-field>
            </v-layout>
            <v-layout row wrap>
                <v-text-field clearable v-model="invoice.iban"
                              name="iban" label="IBan"></v-text-field>
            </v-layout>
            <v-layout row wrap>
                <v-text-field clearable v-model="invoice.usage"
                              name="usage" label="Verwendungszweck"></v-text-field>
            </v-layout>
            <v-layout row wrap>
                <v-text-field clearable v-money="money" v-model.lazy="invoice.amount"
                              name="amount" label="Betrag"></v-text-field>
            </v-layout>
        </v-flex>
    </v-form>
</div>
