<div>
    <v-form ref="form">
        <v-flex xs12 class="pa-2">
            <v-layout row wrap>
                <v-text-field clearable
                              name="from" label="von"></v-text-field>
            </v-layout>
            <v-layout row wrap>
                <v-text-field clearable
                              name="to" label="zu"></v-text-field>
            </v-layout>
            <v-layout row wrap>
                <v-text-field clearable
                              name="iban" label="iban"></v-text-field>
            </v-layout>
            <v-layout row wrap>
                <v-text-field clearable
                              name="bic" label="bic"></v-text-field>
            </v-layout>
            <v-layout row wrap>
                <v-text-field clearable
                              name="amount" label="betrag"></v-text-field>
            </v-layout>
        </v-flex>
    </v-form>
</div>
